.lightbox{
    
    width: 350px;
    height: 350px;
    border: 2px black solid;
    border-radius: 50%;
}
button{
    margin-right: 10px;
    margin-top: 20px;
    font-size: 28px;
    padding: 20px 50px;

}
.box-parent{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}